.add-item {
  &__switcher {
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid indigo;
  }
}
