.agenda {
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    width: 550px;
  }

  @media (max-width: 1200px) {
    width: 500px;
  }

  @media (max-width: 992px) {
    width: 450px;
  }

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 576px) {
    width: 80%;
  }

  width: fit-content;

  padding: 15px 15px 0px 15px;
  margin: auto auto;

  border: 2px solid indigo;
  border-radius: 10px;
}
