@import './addItem.scss';
@import './item.scss';
@import './list.scss';
@import './agenda.scss';
@import './deleteItem.scss';

button {
  background-color: indigo;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;

  &:disabled {
    opacity: 50%;
  }
}
