.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  display: flex;
  flex: 0 0 80%;

  column-gap: 10px;

  p {
    margin: 5px;
    width: fit-content;
  }

  &__info {
    width: 100%;
    display: flex;

    font-weight: 1000;
  }
}
