.list {
  display: flex;
  flex-direction: column;

  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 2px solid indigo;

    &:last-child {
      border-bottom: none;
    }
  }
}
